html {
	height: 100%;
	width: 100%;
}

.grid-container {
}

.grid-item,
.grid-item-placeholder {
	box-sizing: border-box;
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
}

.grid-item-placeholder {
	border-color: transparent; /* Hide the border for placeholder elements */
}

.placeholder-1 {
	background-color: red;
}

.placeholder-2 {
	background-color: green;
}

.placeholder-3 {
	background-color: orange;
}

.placeholder-4 {
	background-color: purple;
}
