html {
	height: 100%;
	width: 100%;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	/* Remove grid-gap: 10px; */
}

.grid-item,
.grid-item-placeholder {
	box-sizing: border-box;
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
	margin: 5px; /* Add margin to create spacing between items */
}

.grid-item-placeholder {
	background-color: #ccc; /* Adjust the color as needed */
	border-color: transparent; /* Hide the border for placeholder elements */
}

.placeholder-1 {
	background-color: red;
}

.placeholder-2 {
	background-color: green;
}

.placeholder-3 {
	background-color: orange;
}

.placeholder-4 {
	background-color: purple;
}
