html {
	height: 100%;
	width: 100%;
}

.bentogrid > * {
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
}

.placeholder-1 {
	background-color: lightblue;
}

.placeholder-2 {
	background-color: lightgreen;
}

.placeholder-3 {
	background-color: lightyellow;
}
